<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>REST_MotoProdavnica_Service</display-name>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>kupacSec</web-resource-name>
			<url-pattern>/rest/prodavnica/kupiMotorSaOpremom/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>kupac</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>adminSec</web-resource-name>
			<url-pattern>/rest/prodavnica/savucajMotor/</url-pattern>
			<url-pattern>/rest/prodavnica/sacuvajOpremu/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<error-page>
		<error-code>403</error-code>
		<location>/forbidden.jsp</location>
	</error-page>
	
	<security-role>
		<role-name>kupac</role-name>
	</security-role>
	
	<security-role>
		<role-name>administrator</role-name>
	</security-role>
</web-app>